@font-face {
  font-family: "Coves Bold";
  src: url("~@/assets/fonts/Coves-Bold.ttf") format('truetype');
  font-display: swap;
}
@font-face {
  font-family: "Coves Light";
  src: url("~@/assets/fonts/Coves-Light.ttf") format('truetype');
  font-display: swap;
}
